.container{
      width: 100%;
      margin: auto;
}

.header{
      width: 100%;
      height:fit-content;
}
.header img{
      width: 100%;
      height: inherit;
      max-height: 200px;

}
.header h1{
      color: #ffffff;
      font-size: 5rem;
      font-weight: bold;
      font-family: 'comforta';
      position: absolute;
      top: 1%;
      left: 38%;
}

.desc{
      width:80%;
      margin:auto;
      padding-top: 4rem;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
}

.desc .txt{
      font-size: 1.5rem;
      display: flex;
      align-items: center;

}

.desc .txt div h2{
      color:rgb(8, 165, 8);
}
.desc .txt div li{
      margin: 1rem;
}
/* .desc .image{
      width:60%;

}*/

.desc .image img{
      border-radius: 20px;
}

.records{
      margin-top: 20vh;
      margin-left: 5vw;
      margin-bottom: 5vh;
}

table{
      font-size: larger;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #ddd;
}
tr,td,th{
      text-align: center;
      border-collapse: collapse;
      border:1px solid black;
      padding: 1rem;
}

.form{
      font-size: large;
      width:40%;
      margin:auto;
      padding: 10rem;
      background-color: rgb(234, 237, 231);
      box-sizing: calc(100% - 2rem);
}
.form div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2vh;

}
.form div:last-child{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0;
}
input[type="number"], input[type="text"],input[type="select"],select,input[type="button"]{
      width: 10rem;
      height: 2rem;
      border-radius: 5px;
      border: 1px solid #ddd;
      padding: 0.5rem;
      font-size: 1rem;
}
input[type="button"]{
      color: #ffffff;
      background-color: rgb(8, 165, 8);;
}

@media screen and (min-width: 992px) {
      .container {
        max-width: 1500px;
      }
}
    