.container{
      width: 100%;
      margin: auto;
}

.header{
      width: 100%;
      height:fit-content;
}
.header img{
      width: 100%;
      height: inherit;
      max-height: 200px;

}
.header h1{
      color: #ffffff;
      font-size: 5rem;
      font-weight: bold;
      font-family: 'comforta';
      position: absolute;
      top: 1%;
      left: 38%;
}

.desc{
      width:80%;
      margin:auto;
      padding-top: 4rem;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
}

.desc .txt{
      font-size: 1.5rem;
      display: flex;
      align-items: center;

}

.desc .txt div h2{
      color:rgb(8, 165, 8);
}
.desc .txt div li{
      margin: 1rem;
}
/* .desc .image{
      width:60%;

}*/

.desc .image img{
      border-radius: 20px;
}

@media screen and (min-width: 992px) {
      .container {
        max-width: 1500px;
      }
}
    